doctype html
html
  head
    title Qiita contribution
    script src="js/d3/d3.min.js"

  body
    h1 Qiita contribution

    h2 Qiita認証
    a href="http://qiita.com/api/v2/oauth/authorize?client_id=#{@qiita_config[:qiita_client_id]}&scope=#{@qiita_config[:qiita_scope]}&state=#{@qiita_config[:qiita_state]}"
      |Qiitaへ認証する

    css:
      body {
        font: 10px sans-serif;
        shape-rendering: crispEdges;
      }

      .day {
        fill: #eee;
        stroke: #ccc;
      }

      .month {
        fill: none;
        stroke: #000;
        stroke-width: 2px;
      }

      .RdYlGn .q1-11 {
        fill: #d6e685
      }

      .RdYlGn .q2-11 {
        fill: #8cc665
      }

      .RdYlGn .q3-11 {
        fill: #44a340
      }

      .RdYlGn .q4-11 {
        fill: #1e6823
      }


    javascript:
      var width = 960,
              height = 136,
              cellSize = 17; // cell size

      var percent = d3.format(".1%"),
              format = d3.time.format("%Y-%m-%d");

      var color = d3.scale.quantize()
              .domain([1, 5])
              .range(d3.range(4).map(function (d) {
                return "q" + d + "-11";
              }));

      var svg = d3.select("body").selectAll("svg")
              //.data(d3.range(2014, 2015))
              .data([2015])
              .enter().append("svg")
              .attr("width", width)
              .attr("height", height)
              .attr("class", "RdYlGn")
              .append("g")
              .attr("transform", "translate(" + ((width - cellSize * 53) / 2) + "," + (height - cellSize * 7 - 1) + ")");

      svg.append("text")
              .attr("transform", "translate(-6," + cellSize * 3.5 + ")rotate(-90)")
              .style("text-anchor", "middle")
              .text(function (d) {
                console.log(d);
                return d;
              });

      var rect = svg.selectAll(".day")
              .data(function (d) {
                //return d3.time.days(new Date(d, 0, 1), new Date(d + 1, 0, 1));
                return d3.time.days(new Date(2014, 7, 1), new Date(2015, 7, 1));
              })
              .enter().append("rect")
              .attr("class", "day")
              .attr("width", cellSize)
              .attr("height", cellSize)
              .attr("x", function (d) {
                return d3.time.weekOfYear(d) * cellSize;
              })
              .attr("y", function (d) {
                return d.getDay() * cellSize;
              });

      rect.append("title")
              .text(function (d) {
                return d;
              });

      svg.selectAll(".month")
              .data(function (d) {
                console.log(d);
                //return d3.time.months(new Date(d, 0, 1), new Date(d + 1, 0, 1));
                return d3.time.months(new Date(2014, 7, 1), new Date(2015, 7, 1));
              })
              .enter().append("path")
              .attr("class", "month")
              .attr("d", monthPath);

      d3.csv("test.csv", function (error, csv) {
        if (error) throw error;

        var data = d3.nest()
                .key(function (d) {
                  return d.Date;
                })
                .map(csv);

        rect.filter(function (d) {
          return d in data;
        })
                .attr("class", function (d) {

                  //return "day " + color(data[d]);
                  var point = data[d][0].Post * 3 + data[d][0].Stock;
                  colorId = 0;
                  if (point > 5) {
                    colorId = 4;
                  } else if (point > 2) {
                    colorId = 3;
                  } else if (point > 1) {
                    colorId = 2;
                  } else if (point > 0) {
                    colorId = 1;
                  }
                  //console.log(data[d][0]);
                  return "day " + color(colorId);
                })
                .select("title")
                .text(function (d) {
                  return d + ": " + percent(data[d]);
                });
      });

      function monthPath(t0) {
        console.log(t0);
        var t1 = new Date(t0.getFullYear(), t0.getMonth() + 1, 0),
                d0 = t0.getDay(), w0 = d3.time.weekOfYear(t0),
                d1 = t1.getDay(), w1 = d3.time.weekOfYear(t1);
        return "M" + (w0 + 1) * cellSize + "," + d0 * cellSize
                + "H" + w0 * cellSize + "V" + 7 * cellSize
                + "H" + w1 * cellSize + "V" + (d1 + 1) * cellSize
                + "H" + (w1 + 1) * cellSize + "V" + 0
                + "H" + (w0 + 1) * cellSize + "Z";
      }

      d3.select(self.frameElement).style("height", "2910px");